
.card{
    background-color:white;
    border-color: #056f8f;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 100px;
}
#cardtwo{
    
    margin-top: -430px;
}
.btn{
    width: 200px;
    height: 40px;
    margin-left: 100px;
    font-family: 'Times New Roman', Times, serif;
    background-color:  #056f8f;
    font-size: large;
}
.form-control{
    background-color: white!important;
    border-color: #544E4E;
    color: black;
    


}
select{
    background-color: white!important;
    border-color: #544E4E;
    color: black;

    

}

.form-control:focus {
    border-color: #056f8f;

   
  }
  .placeholder{
    position: absolute;
    top: 24px;
    bottom: 0;
    height: 24px;
    font-size: 25px;
    left: -28px;
    margin: auto;
    margin-left: 480px;
    color: black;
    margin-top: 20px;
}

.input-placeholder {
  position: relative;
}
