

<app-headersubsub></app-headersubsub>

<div class="container py-5"  >

  <div class="container py-5">
      
      <div style="margin-bottom: 20px;" class="search-container" > 
          <form action="#">
            <input type="text" placeholder="Enter a name.." name="search" [(ngModel)]="searchedKeyword">
            <button type="submit" >search</button>
          </form>
      </div>
      <div style="margin-bottom: 30px;margin-top: 30px;">
      <form action="#" class="row">
        <p style="margin-left:10px ;">Export Your Staff as XLSX by clicking this button</p>
        <div style="margin-left: 25px;">
          <input id="all" type="radio" value="All" name="select"  (change)="onItemChange($event)">
          <label for="all" style="margin-left: 5px;">All of your staff</label>
       </div>

       <div style="margin-left: 30px;">
          <input id="some" type="radio" value="female" name="select"  (change)="onItemChange($event)">
          <label for="some" style="margin-left: 5px;">Shown your Staff </label>
       </div>
        </form> 
      </div> 

  </div>


<div class="container"  >
               
    <table  class="table table-bordered table-hover" #staffTable>
      <thead class="thead-dark">
        <tr>
          <th>First Name</th>
          <th>Middle Name</th>
          <th>Last Name</th> 
          <th>Email</th>
          <th>Mobile</th>
          <th>University</th>
          <th>Compass</th>
        <!--  <th style="visibility: hidden;">Professional Title</th> 
          <th style="visibility: hidden;">Role</th>
          <th style="visibility: hidden;">Study</th>
          <th style="visibility: hidden;">Education Field</th>
          <th style="visibility: hidden;">Department</th>
          <th style="visibility: hidden;">Gender</th>
          <th style="visibility: hidden;">Work Experience</th>
          <th style="visibility: hidden;">Certificate</th>
          <th style="visibility: hidden;">Research Area</th>
          <th style="visibility: hidden;">Future Research Interest</th>
          <th style="visibility: hidden;">Number Of Publications</th>
          <th style="visibility: hidden;">Home Base</th>
        
        -->
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of subsubAdmins | filter:searchedKeyword">
          <td>{{user.firstName}}</td>
          <td>{{user.middleName}}</td>
          <td>{{user.lastName}}</td>
          <td>{{user.email}}</td>
          <td>{{user.mobile}}</td>
          <td>{{user.university.name}}</td>
          <td>{{user.compass}}</td>
         
         <!-- <td style="visibility: hidden;">{{user.professionalTitle}}</td>
          <td style="visibility: hidden;">{{user.role}}</td>
          <td style="visibility: hidden;">{{user.study}}</td>
          <td style="visibility: hidden;">{{user.department}}</td>
          <td style="visibility: hidden;">{{user.gender}}</td>
          <td style="visibility: hidden;">{{user.workExperience}}</td>
          <td style="visibility: hidden;">{{user.certificate}}</td>
          <td style="visibility: hidden;">{{user.researchArea}}</td>
          <td style="visibility: hidden;">{{user.futureResearchInterest}}</td>
          <td style="visibility: hidden;">{{user.numberOfPublications}}</td>
          <td style="visibility: hidden;">{{user.homeBase}}</td>-->

          
          <td><a class="action-btn"  (click)="open(content)" (click) = "onEdit(user)"><i class="fas fa-pen-alt"></i> </a></td>
          <td><a class="action-btn"><i class="fas fa-trash"
            mwlConfirmationPopover
            [popoverTitle]="popoverTitle"
            [popoverMessage]="popoverMessage"
            [confirmText]="confirmText"
            [cancelText]="cancelText"
           
            (confirm)="onDelete(user._id)"
            (cancel)="cancelClicked = true"
            confirmButtonType="danger"
            cancelButtonType="outline-secondary"
         
            [appendToBody]="true">
          </i></a></td> 
          <td><a class="action-btn"  (click)="open(contentt)" (click) = "onEdit(user)"><i class="fas fa-info"></i> </a></td>
        </tr>
    
      </tbody>
    </table>
    <ul class="pagination justify-content-center">
      <li class="page-item"><a (click)="previousClick()" class="page-link">Previous</a></li>
      <li *ngFor='let index of pageIndexes' class="page-item" [ngClass]="active(index)">
            <a (click)="getPaginationWithIndex(index)" class="page-link">
              {{index + 1}}
            </a>
      </li>
      <li class="page-item"><a (click)="nextClick()" class="page-link">Next</a></li>
      </ul>
  </div>

  

  <ng-template #contentt let-modal>
    <div class="modal-header">
     
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">

      <form   #signUpForm="ngForm"  (ngSubmit) = "signUpForm.valid && onSubmit(signUpForm)">
        <div class="form-group row">
          <label for="staticEmail" class="col-sm-3 col-form-label">First Name</label>
          <div class="col-sm-8">
            <input  readonly  class="form-control" type="text" #firstname="ngModel" [(ngModel)]="subsubAdminService.selectedStaff.firstName" name="firstName"  placeholder="Enter firstname" required
            [ngClass]="{'invalid-textbox' : signUpForm.submitted && !firstname.valid}">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-3 col-form-label">Middle Name</label>
          <div class="col-sm-8">
            <input readonly  class="form-control" type="text" #middlename="ngModel" [(ngModel)]="subsubAdminService.selectedStaff.middleName" name="middleName"  placeholder="Enter middlename" required
            [ngClass]="{'invalid-textbox' : signUpForm.submitted && !middlename.valid}">
          </div>
        </div>

        <div class="form-group row">
          <label for="inputPassword" class="col-sm-3 col-form-label">Last Name</label>
          <div class="col-sm-8">
            <input readonly class="form-control" type="text" #lastname="ngModel" [(ngModel)]="subsubAdminService.selectedStaff.lastName" name="lastName"  placeholder="Enter lastname" required
            [ngClass]="{'invalid-textbox' : signUpForm.submitted && !lastname.valid}">
          </div>
        </div>

        <div class="form-group row">
          <label for="inputPassword" class="col-sm-3 col-form-label">Email</label>
          <div class="col-sm-8">
            <input  readonly  class="form-control" type="text" #email="ngModel" [(ngModel)]="subsubAdminService.selectedStaff.email" name="email"  placeholder="Enter email" required
            [pattern]="emailRegex" [ngClass]="{'invalid-textbox' : signUpForm.submitted && !email.valid}" >
          </div>
        </div>

        <div class="form-group row">
          <label for="inputPassword" class="col-sm-3 col-form-label">Mobile</label>
          <div class="col-sm-8">
            <input readonly class="form-control" type="number" #mobile="ngModel" [(ngModel)]="subsubAdminService.selectedStaff.mobile" name="mobile"  placeholder="Enter mobile number" required
            [ngClass]="{'invalid-textbox' : signUpForm.submitted && !mobile.valid}">
          </div>
        </div>

        <div class="form-group row">
          <label for="inputPassword" class="col-sm-3 col-form-label">Professional Title</label>
          <div class="col-sm-8">
            <input readonly class="form-control" type="text" #professionalTitle="ngModel" [(ngModel)]="subsubAdminService.selectedStaff.professionalTitle" name="professionalTitle"  placeholder="Enter professionalTitle" required
              [ngClass]="{'invalid-textbox' : signUpForm.submitted && !professionalTitle.valid}">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-3 col-form-label">Role</label>
          <div class="col-sm-8">
            <input readonly class="form-control" type="text" #role="ngModel" [(ngModel)]="subsubAdminService.selectedStaff.role" name="role"  placeholder="Enter role" required
              [ngClass]="{'invalid-textbox' : signUpForm.submitted && !role.valid}">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-3 col-form-label">Education Field</label>
          <div class="col-sm-8">
            <input readonly class="form-control" type="text" #educationField="ngModel" [(ngModel)]="subsubAdminService.selectedStaff.educationField" name="educationField"  placeholder="Enter educationField" required
              [ngClass]="{'invalid-textbox' : signUpForm.submitted && !educationField.valid}">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-3 col-form-label">Department</label>
          <div class="col-sm-8">
            <input  readonly class="form-control" type="text" #department="ngModel" [(ngModel)]="subsubAdminService.selectedStaff.department" name="department"  placeholder="Enter department" required
            [ngClass]="{'invalid-textbox' : signUpForm.submitted && !department.valid}">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-3 col-form-label">Study</label>
          <div class="col-sm-8">
            <input  readonly class="form-control" type="text" #study="ngModel" [(ngModel)]="subsubAdminService.selectedStaff.study" name="study"  placeholder="Enter study" required
            [ngClass]="{'invalid-textbox' : signUpForm.submitted && !study.valid}">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-3 col-form-label">Gender</label>
          <div class="col-sm-8">
            <input  readonly class="form-control" type="text" #gender="ngModel" [(ngModel)]="subsubAdminService.selectedStaff.gender" name="gender"  placeholder="Enter gender" required
            [ngClass]="{'invalid-textbox' : signUpForm.submitted && !gender.valid}">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-3 col-form-label">Work Experience</label>
          <div class="col-sm-8">
            <input  readonly class="form-control" type="text" #workExperience="ngModel" [(ngModel)]="subsubAdminService.selectedStaff.workExperience" name="workExperience"  placeholder="Enter Work Experience" required
            [ngClass]="{'invalid-textbox' : signUpForm.submitted && !workExperience.valid}">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-3 col-form-label">Certificate</label>
          <div class="col-sm-8">
            <input  readonly class="form-control" type="text" #certificate="ngModel" [(ngModel)]="subsubAdminService.selectedStaff.certificate" name="certificate"  placeholder="Enter Certificate" required
            [ngClass]="{'invalid-textbox' : signUpForm.submitted && !certificate.valid}">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-3 col-form-label">Research Area</label>
          <div class="col-sm-8">
            <input  readonly class="form-control" type="text" #researchArea="ngModel" [(ngModel)]="subsubAdminService.selectedStaff.researchArea" name="researchArea"  placeholder="Enter Research Area" required
            [ngClass]="{'invalid-textbox' : signUpForm.submitted && !researchArea.valid}">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-3 col-form-label">Future Research Interest</label>
          <div class="col-sm-8">
            <input  readonly class="form-control" type="text" #futureResearchInterest="ngModel" [(ngModel)]="subsubAdminService.selectedStaff.futureResearchInterest" name="futureResearchInterest"  placeholder="Enter Future Research Interest" required
            [ngClass]="{'invalid-textbox' : signUpForm.submitted && !futureResearchInterest.valid}">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-3 col-form-label">Number Of Publications</label>
          <div class="col-sm-8">
            <input  readonly class="form-control" type="text" #numberOfPublications="ngModel" [(ngModel)]="subsubAdminService.selectedStaff.numberOfPublications" name="numberOfPublications"  placeholder="Enter Number Of Publications" required
            [ngClass]="{'invalid-textbox' : signUpForm.submitted && !numberOfPublications.valid}">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-3 col-form-label">Home Base</label>
          <div class="col-sm-8">
            <input  readonly class="form-control" type="text" #homeBase="ngModel" [(ngModel)]="subsubAdminService.selectedStaff.homeBase" name="homeBase"  placeholder="Enter Home Base" required
            [ngClass]="{'invalid-textbox' : signUpForm.submitted && !homeBase.valid}">
          </div>
        </div>

       
      </form>
    
    
    </div>
   
  </ng-template>

  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Update</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form  #signUpForm="ngForm"  (ngSubmit) = "signUpForm.valid && onSubmit(signUpForm)">
        <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="subsubAdminService.selectedStaff._id">
       
        <div class="form-group">
          <label for="exampleInputEmail1">First Name:</label>
          <input   class="form-control" type="text" #firstname="ngModel" [(ngModel)]="subsubAdminService.selectedStaff.firstName" name="firstName"  placeholder="Enter First Name" required
          [ngClass]="{'invalid-textbox' : signUpForm.submitted && !firstname.valid}">
          
        </div>
        <div *ngIf="signUpForm.submitted && !firstname.valid">
          <label style="color: red;" class="validation-message">this field is required </label>

        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Middle Name:</label>
          <input  class="form-control" type="text" #middlename="ngModel" [(ngModel)]="subsubAdminService.selectedStaff.middleName" name="middleName"  placeholder="Enter Middle Name" required
          [ngClass]="{'invalid-textbox' : signUpForm.submitted && !middlename.valid}">
          </div>
          <div *ngIf="signUpForm.submitted && !middlename.valid">
            <label style="color: red;" class="validation-message">this field is required </label>

          </div>

          <div class="form-group">
            <label   for="exampleInputPassword1">Last Name:</label>
            <input class="form-control" type="text" #lastname="ngModel" [(ngModel)]="subsubAdminService.selectedStaff.lastName" name="lastName"  placeholder="Enter Last Name" required
            [ngClass]="{'invalid-textbox' : signUpForm.submitted && !lastname.valid}">
            </div>
            <div *ngIf="signUpForm.submitted && !lastname.valid">
              <label style="color: red;" class="validation-message">this field is required </label>

            </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Email:</label>
          <input   class="form-control" type="text" #email="ngModel" [(ngModel)]="subsubAdminService.selectedStaff.email" name="email"  placeholder="Enter email" required
          [pattern]="emailRegex" [ngClass]="{'invalid-textbox' : signUpForm.submitted && !email.valid}" >
        </div>
        <div *ngIf="signUpForm.submitted && email.errors">
          <label *ngIf="email.errors.required"style="color: red;" class="validation-message">this field is required </label>
          <label *ngIf="email.errors.pattern"style="color: red;" class="validation-message">invalid email </label>

        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Mobile:</label>
          <input  class="form-control" type="tel" #mobile="ngModel" [(ngModel)]="subsubAdminService.selectedStaff.mobile" name="mobile"  placeholder="Enter mobile number" required
          minlength="10" maxlength="10" [ngClass]="{'invalid-textbox' : signUpForm.submitted && !mobile.valid}">
        </div>
        <div *ngIf="signUpForm.submitted && !mobile.valid">
          <label style="color: red;" class="validation-message">must be 10 number</label>

        </div>
       
        <div class="form-group">
            <label for="exampleInputPassword1">Professional Title</label>
            <input  class="form-control" type="text" #professionalTitle="ngModel" [(ngModel)]="subsubAdminService.selectedStaff.professionalTitle" name="professionalTitle"  placeholder="Enter educationStatus" required
            [ngClass]="{'invalid-textbox' : signUpForm.submitted && !professionalTitle.valid}">
        </div>
          <div *ngIf="signUpForm.submitted && !professionalTitle.valid">
            <label style="color: red;" class="validation-message">this field is required </label>

          </div>
          <div class="form-group">
              <label for="exampleInputPassword1">Role:</label>
              <input  class="form-control" type="text" #role="ngModel" [(ngModel)]="subsubAdminService.selectedStaff.role" name="role"  placeholder="Enter role" required
              [ngClass]="{'invalid-textbox' : signUpForm.submitted && !role.valid}">
            </div>
            <div *ngIf="signUpForm.submitted && !role.valid">
              <label style="color: red;" class="validation-message">this field is required </label>

            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Study:</label>
              <input  class="form-control" type="text" #study="ngModel" [(ngModel)]="subsubAdminService.selectedStaff.study" name="study"  placeholder="Enter study" required
              [ngClass]="{'invalid-textbox' : signUpForm.submitted && !study.valid}">
            </div>
            <div *ngIf="signUpForm.submitted && !study.valid">
              <label style="color: red;" class="validation-message">this field is required </label>

            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Education Field:</label>
              <input  class="form-control" type="text" #educationField="ngModel" [(ngModel)]="subsubAdminService.selectedStaff.educationField" name="educationField"  placeholder="Enter Education Field" required
              [ngClass]="{'invalid-textbox' : signUpForm.submitted && !educationField.valid}">
            </div>
            <div *ngIf="signUpForm.submitted && !educationField.valid">
              <label style="color: red;" class="validation-message">this field is required </label>

            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Department:</label>
              <input  class="form-control" type="text" #department="ngModel" [(ngModel)]="subsubAdminService.selectedStaff.department" name="department"  placeholder="Enter Department" required
              [ngClass]="{'invalid-textbox' : signUpForm.submitted && !department.valid}">
            </div>
            <div *ngIf="signUpForm.submitted && !department.valid">
              <label style="color: red;" class="validation-message">this field is required </label>

            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Gender:</label>
              <input  class="form-control" type="text" #gender="ngModel" [(ngModel)]="subsubAdminService.selectedStaff.gender" name="gender"  placeholder="Enter gender" required
              [ngClass]="{'invalid-textbox' : signUpForm.submitted && !gender.valid}">
              </div>
              <div *ngIf="signUpForm.submitted && !gender.valid">
                <label style="color: red;" class="validation-message">this field is required </label>

              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Work Experience:</label>
                <input  class="form-control" type="number" #workExperience="ngModel" [(ngModel)]="subsubAdminService.selectedStaff.workExperience" name="workExperience"  placeholder="Enter Work Experience" required
                [ngClass]="{'invalid-textbox' : signUpForm.submitted && !workExperience.valid}">
              </div>
                <div *ngIf="signUpForm.submitted && !workExperience.valid">
                  <label style="color: red;" class="validation-message">this field is required </label>

                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Certificate:</label>
                  <input  class="form-control" type="text" #certificate="ngModel" [(ngModel)]="subsubAdminService.selectedStaff.certificate" name="certificate"  placeholder="Enter certificate"
                  [ngClass]="{'invalid-textbox' : signUpForm.submitted && !workExperience.valid}">
                </div> 
                <div class="form-group">
                  <label for="exampleInputPassword1">Research Area:</label>
                  <input  class="form-control" type="text" #researchArea="ngModel" [(ngModel)]="subsubAdminService.selectedStaff.researchArea" name="researchArea"  placeholder="Enter Research Area" 
                  [ngClass]="{'invalid-textbox' : signUpForm.submitted && !researchArea.valid}">
                </div> 
                <div class="form-group">
                  <label for="exampleInputPassword1">Future Research Interest:</label>
                  <input  class="form-control" type="text" #futureResearchInterest="ngModel" [(ngModel)]="subsubAdminService.selectedStaff.futureResearchInterest" name="futureResearchInterest"  placeholder="Enter Future Research Interest"
                  [ngClass]="{'invalid-textbox' : signUpForm.submitted && !futureResearchInterest.valid}">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Number Of Publications:</label>
                  <input  class="form-control" type="text" #numberOfPublications="ngModel" [(ngModel)]="subsubAdminService.selectedStaff.numberOfPublications" name="numberOfPublications"  placeholder="Enter Number Of Publications" 
                  [ngClass]="{'invalid-textbox' : signUpForm.submitted && !numberOfPublications.valid}">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Home Base:</label>
                  <input  class="form-control" type="text" #homeBase="ngModel" [(ngModel)]="subsubAdminService.selectedStaff.homeBase" name="homeBase"  placeholder="Enter Home Base"
                  [ngClass]="{'invalid-textbox' : signUpForm.submitted && !homeBase.valid}">
                </div>
            
         
     

        <div class="modal-footer">
          <!--<button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>--> 
             <input style="background-color: #056f8f" type="submit" value="Update">
           </div>
       
      </form>
      <div class="success" *ngIf="showSucessMessage">
        <h1 style="color: green; font-family: 'Times New Roman';" >updated successfully</h1>

      </div>
    </div>
   
  </ng-template>
</div>
<app-footer></app-footer>
  
 
  <script>
    function openForm() {
      document.getElementById("myForm").style.display = "block";
    }
    
    function closeForm() {
      document.getElementById("myForm").style.display = "none";
    }
    </script>
  
