
<app-headerchecker></app-headerchecker>

<div  class="container py-5" >
  <div class="cards py-5">
    <div class="col-md-6 offset-md-5">
      <div class="card ">
        <div class="card-body" >
            <form #updateForm="ngForm"  (ngSubmit) = "updateForm.valid && OnSubmit(updateForm)">
                <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="checkerservice.selectedChecker._id">
                
                <div class="form-group">
                  <label for="exampleInputPassword1">Email:</label>
                  <input   class="form-control" type="text" #email="ngModel" [(ngModel)]="checkerservice.selectedChecker.email" name="email"  placeholder="Enter your new Email" required
                  [pattern]="emailRegex" [ngClass]="{'invalid-textbox' : updateForm.submitted && !email.valid}" >
                </div>
                <div *ngIf="updateForm.submitted && email.errors">
                  <label *ngIf="email.errors.required"style="color: red;" class="validation-message">this field is required </label>
                  <label *ngIf="email.errors.pattern"style="color: red;" class="validation-message">invalid email </label>

                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Mobile:</label>
                  <input  class="form-control" type="number" #mobile="ngModel" [(ngModel)]="checkerservice.selectedChecker.mobile" name="mobile"  placeholder="Enter Your mobile number" required
                  minlength="10" maxlength="13" [ngClass]="{'invalid-textbox' : updateForm.submitted && !mobile.valid}">
                </div>
                <div *ngIf="updateForm.submitted && mobile.errors?.minlength && mobile.errors?.maxlength">
                  <label style="color: red;" class="validation-message">must be 10 number</label>

                </div>
                <div *ngIf="updateForm.submitted && !mobile.valid">
                  <label style="color: red;" class="validation-message">this field is required </label>

                </div>
                <span class="input-placeholder">
                <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input  class="form-control" type="password"  name="password" #password="ngModel" [(ngModel)]="checkerservice.selectedChecker.password" placeholder=" Enter Your Updated Password " 
                  required minlength="8" [type]="hide ? 'password' : 'text'"
                  [ngClass]="{'invalid-textbox' : updateForm.submitted && !password.valid}">
                  <mat-icon class="placeholder" (click)="myFunction()">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>

                </div>
                </span>
                <div *ngIf="updateForm.submitted && password.errors?.minlength">
                  <label style="color: red;" class="validation-message">minimum 8 characters</label>

                </div>
                <div *ngIf="updateForm.submitted && !password.valid">
                  <label style="color: red;" class="validation-message">this field is required </label>

                </div>
               
              <!-- <button type="button" class="btn  text-center btn-sm px-5">submit</button>--> 
              <input style="background-color:  #056f8f" type="submit" value="Update Profile" >
              </form>
              <div class="success" *ngIf="showSucessMessage">
                <h1 style="color: green; font-family: 'Times New Roman', Times, serif;">Update successfully</h1>

              </div>

              <div class="alert" *ngIf="serverErrorMessage">
               <h1 style="color: red;"> {{serverErrorMessage}} </h1>

              </div>
             </div>
            </div>
           </div>
          </div>
          </div>

<app-footer></app-footer>
