
<app-headerchecker></app-headerchecker>

<div class="container">
    
    <div class="search-container">
        <form action="#">
          <input type="text" placeholder="Enter a name.." name="search" [(ngModel)]= "searchedKeyword" >
          <button type="submit" >search</button>
        </form>
      </div>

</div>

<!--this code is for -->
  <div class="container table-responsive py-3" >
               
    <table  class="table table-bordered highlight">
      <thead >
        <tr>
            <th>First Name</th>
            <th>Middle Name</th>
            <th>Last Name</th> 
            <th>Email</th>
            <th>Mobile</th>
            <th>UniversIty</th>
            <th>educationStatus</th>
            <th>role</th>
            <th>study</th>
            <th>compass</th>
            <th>Match</th>
            
           </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of  subsubuserservice.users | filter:searchedKeyword">
            <td>{{user.firstName}}</td>
            <td>{{user.middleName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.email}}</td>
            <td>{{user.mobile}}</td>
            <td>{{user.university}}</td>
            <td>{{user.educationStatus}}</td>
            <td>{{user.role}}</td>
            <td>{{user.study}}</td>
            <td>{{user.compass}}</td>
           <td><a class="action-btn" ><i class="fas fa-check-circle"  (click)="searchAndMatchL(user)" ></i> </a></td>
           <td> <a class="action-btn" ><i class="fas {{ user.isViewed ? 'fa-eye' : 'fa-eye-slash' }}"
            mwlConfirmationPopover
            [popoverTitle]="popoverTitle"
            [popoverMessage]="popoverMessage"
            [confirmText]="confirmText"
            [cancelText]="cancelText"
           
            (confirm)="ViewedOrtNotViewed(user._id,user)"
            (cancel)="cancelClicked = true"
            confirmButtonType="danger"
            cancelButtonType="outline-secondary"
            
            [appendToBody]="true"
            ></i></a></td>
       </tr>
    
      </tbody>
    </table>
  </div>



  





  
 
  
 
  
 
  
 
  
   
  














  <script>
    function openForm() {
      document.getElementById("myForm").style.display = "block";
    }
    
    function closeForm() {
      document.getElementById("myForm").style.display = "none";
    }
    </script>
