<html>
  <div class="container">
    <div class="col-md-12 col-xs-12">
      <div class="cards py-5 ">
        <div class="d-flex flex-row justify-content-center flex-wrap">
         

          <div class="card" style="width: 60.5rem;">
            <div class="card-body">
              <img   src="assets/logonew.png" class="img-fluid text-center px-5" style="height: 200px;"/>
              <p class="card-text text-center" style="font-size: 30px; color: white;"> WELCOME TO LECTURERS FOLLOW UP WEBSITE.</p>
              <br><br>
               <p class="card-text" style="font-size: 20px; margin-left: 50px;">Please identifiy your role</p>
               <div class="form-group">
            
                   <label class="radio-inline">
                       <input type="radio" value="male" name="gender" routerLink= "/login">ት/ት ሚንስተር

                   </label>
                   <label class="radio-inline">
                    <input type="radio" value="female" name="gender" routerLink= "/loginsub"> የግቢ ዲን

                </label>
                <label class="radio-inline">
                    <input type="radio" value="hulet" name="gender" routerLink= "/loginsubsub">ዲፓርትመንት Heድ

                </label>
                <label class="radio-inline">
                    <input type="radio" value="sost" name="gender" routerLink= "/logchecker">አረጋጋጭ

                </label>

            
               </div>

</div>
 </div>
  </div>
</div>
 </div>
</div>
 </html>



























