
<app-headersubsub></app-headersubsub>

<h1 style="color: white;">registor</h1>
<h1 style="color: white;">registor</h1>

<form  #form="ngForm" (ngSubmit)="onFormSubmit(form)">
<div class="row" style="padding-top: 20px;padding-left: 50px;">
<div class="form-group">
  <input style="color: black;" type="file" name="uploadfile" #file id="file" (change)="handleFileInput($event.target.files)" required>
  <button  ng-click="angular.copy(files)" type="reset">X</button>
</div>
<div class="col-sm-6 text-center">
  <button style="background-color: #056f8f" type="submit">Upload</button>
</div>
</div>
</form>
<div class="success" *ngIf="showSucessMessage">
  <h1 style="color: green; font-family: 'Times New Roman', Times, serif;">upload Successfully</h1>

</div>

<div class="container">
  <div class="cards py-5">
  <div class="col-md-12">
   
    <div class="card" style="height: 400px;">
      <div class="card-body">
        <div class="card-title col-md-5" >
          <h3>
          why join LecturersFollower?
          </h3>

        </div>
        <div class="card-text px-5 col-md-4 col-sm-8">
          to track down who is working
          in more than one campus.
          <br>
          to know that we need you to fill
          this info.
          <br/>
          because it helps us to track down them.
          <br/>
          and it would be meaning less with out your help.



        </div>



      </div>



    </div>
    
    </div>
    <div class="col-md-6 offset-md-5">
      <div class="card " id="cardtwo">
        <div class="card-body">

          <div class="title">
            <h5 class="card-title  text-center" >
              Register University Staff </h5>
              
            </div>
          
              <p class="card-text text-center">one of the ultimate track down
                ever in the history of Ethiopian Education.
              </p>

              <form #signUpForm="ngForm"  (ngSubmit) = "signUpForm.valid && onSubmit(signUpForm)">
                <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="subsubAdminService.selectedStaff._id">
                <div class="form-group">
                  <label for="exampleInputEmail1">First name:</label>
                  <input   class="form-control" type="text" #firstname="ngModel" [(ngModel)]="subsubAdminService.selectedStaff.firstName" name="firstName"  placeholder="Enter firstname" required
                  [ngClass]="{'invalid-textbox' : signUpForm.submitted && !firstname.valid}">
                  
                </div>
                <div *ngIf="signUpForm.submitted && !firstname.valid">
                  <label style="color: red;" class="validation-message">this field is required </label>

                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Middle name:</label>
                  <input  class="form-control" type="text" #middlename="ngModel" [(ngModel)]="subsubAdminService.selectedStaff.middleName" name="middleName"  placeholder="Enter middlename" required
                  [ngClass]="{'invalid-textbox' : signUpForm.submitted && !middlename.valid}">
                  </div>
                  <div *ngIf="signUpForm.submitted && !middlename.valid">
                    <label style="color: red;" class="validation-message">this field is required </label>
  
                  </div>

                  <div class="form-group">
                    <label   for="exampleInputPassword1">Last name:</label>
                    <input class="form-control" type="text" #lastname="ngModel" [(ngModel)]="subsubAdminService.selectedStaff.lastName" name="lastName"  placeholder="Enter lastname" required
                    [ngClass]="{'invalid-textbox' : signUpForm.submitted && !lastname.valid}">
                    </div>
                    <div *ngIf="signUpForm.submitted && !lastname.valid">
                      <label style="color: red;" class="validation-message">this field is required </label>
    
                    </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Email:</label>
                  <input   class="form-control" type="email" #email="ngModel" [(ngModel)]="subsubAdminService.selectedStaff.email" name="email"  placeholder="Enter email" required
                  [pattern]="emailRegex" [ngClass]="{'invalid-textbox' : signUpForm.submitted && !email.valid}" >
                </div>
                <div *ngIf="signUpForm.submitted && email.errors">
                  <label *ngIf="email.errors.required"style="color: red;" class="validation-message">this field is required </label>
                  <label *ngIf="email.errors.pattern"style="color: red;" class="validation-message">invalid email </label>

                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">mobile:</label>
                  <input  class="form-control" type="text" #mobile="ngModel" [(ngModel)]="subsubAdminService.selectedStaff.mobile" name="mobile"  placeholder="Enter mobile number" required
                  [ngClass]="{'invalid-textbox' : signUpForm.submitted && !mobile.valid}">
                </div>
                <div *ngIf="signUpForm.submitted && !mobile.valid">
                  <label style="color: red;" class="validation-message">this field is required </label>

                </div>
                <div class="form-group">
                  
                  <input type="hidden"  class="form-control"    [(ngModel)]="universty" name="university"  placeholder="Enter universtiy" 
                  >
                 
                 
                </div>
                <div class="form-group" >
                
                 
                  <input type="hidden"  class="form-control"   [(ngModel)]="compass" name="compass"  placeholder="Enter universtiy" 
                  >
                  </div>
                 
                  <div class="form-group">
                    <label   for="exampleInputPassword1">Role:</label>
                    <input class="form-control" type="text" #role="ngModel" [(ngModel)]="subsubAdminService.selectedStaff.role" name="role"  placeholder="Enter Role" required
                    [ngClass]="{'invalid-textbox' : signUpForm.submitted && !role.valid}">
                    </div>
                    <div *ngIf="signUpForm.submitted && !role.valid">
                      <label style="color: red;" class="validation-message">this field is required </label>
    
                    </div>
                
               
                  <div class="form-group">
                      <label   for="exampleInputPassword1">educationStatus:</label>
                      <input class="form-control" type="text" #educationStatus="ngModel" [(ngModel)]="subsubAdminService.selectedStaff.educationStatus" name="educationStatus"  placeholder="Enter educationStatus" required
                      [ngClass]="{'invalid-textbox' : signUpForm.submitted && !educationStatus.valid}">
                      </div>
                      <div *ngIf="signUpForm.submitted && !educationStatus.valid">
                        <label style="color: red;" class="validation-message">this field is required </label>
      
                </div>
                <div class="form-group">
                  <label   for="exampleInputPassword1">Study:</label>
                  <input class="form-control" type="text" #study="ngModel" [(ngModel)]="subsubAdminService.selectedStaff.study" name="study"  placeholder="Enter study" required
                  [ngClass]="{'invalid-textbox' : signUpForm.submitted && !study.valid}">
                  </div>
                  <div *ngIf="signUpForm.submitted && !study.valid">
                    <label style="color: red;" class="validation-message">this field is required </label>
  
                  </div>
                
                  <div class="form-group">
                    <label   for="exampleInputPassword1">educationField:</label>
                    <input class="form-control" type="text" #educationField="ngModel" [(ngModel)]="subsubAdminService.selectedStaff.educationField" name="educationField"  placeholder="Enter educationField" required
                    [ngClass]="{'invalid-textbox' : signUpForm.submitted && !educationField.valid}">
                    </div>
                    <div *ngIf="signUpForm.submitted && !educationField.valid">
                      <label style="color: red;" class="validation-message">this field is required </label>
    
                  </div>
                  <div class="form-group">
                    <label   for="exampleInputPassword1">Department:</label>
                    <input class="form-control" type="text" #department="ngModel" [(ngModel)]="subsubAdminService.selectedStaff.department" name="department"  placeholder="Enter Department" required
                    [ngClass]="{'invalid-textbox' : signUpForm.submitted && !department.valid}">
                    </div>
                    <div *ngIf="signUpForm.submitted && !department.valid">
                      <label style="color: red;" class="validation-message">this field is required </label>
    
                   </div>
              <!-- <button type="button" class="btn  text-center btn-sm px-5">submit</button>--> 
              <input style="background-color: #056f8f" type="submit" value="Registor">
              </form>
              <div class="success" *ngIf="showSucessMessage">
                <h1 style="color: green; font-family: 'Times New Roman', Times, serif;">saved successfully</h1>

              </div>

              <div class="alert" *ngIf="serverErrorMessage">
               <h1 style="color: red;"> {{serverErrorMessage}} </h1>

              </div>


       </div>






        </div>
      </div>



  </div>

</div>
<app-footer></app-footer>


<script>  
  // Material Select Initialization
$(document).ready(function() {
$('.mdb-select').materialSelect();
$('.select-wrapper.md-form.md-outline input.select-dropdown').bind('focus blur', function () {
$(this).closest('.select-outline').find('label').toggleClass('active');
$(this).closest('.select-outline').find('.caret').toggleClass('active');
});
});
  </script>