
<app-headersubsub></app-headersubsub>

<h1 style="color: white;">registor</h1>
<h1 style="color: white;">registor</h1>

<!-- <form  #form="ngForm" (ngSubmit)="onFormSubmit(form)">
<div class="row" style="padding-top: 20px;padding-left: 50px;">
<div class="form-group">
  <input style="color: black;" type="file" name="uploadfile" #file id="file" (change)="handleFileInput($event.target.files)" required>
  <button  ng-click="angular.copy(files)" type="reset">X</button>
</div>
<div class="col-sm-6 text-center">
  <button style="background-color: #056f8f" type="submit">Upload</button>
</div>
</div>
</form>
<div class="success" *ngIf="showSucessMessage">
  <h1 style="color: green; font-family: 'Times New Roman', Times, serif;">upload Successfully</h1>

</div> -->
<div class="container py-5" >
  <ul class="nav nav-tabs">
    <li class="nav-item"><a style="font-family: 'Times New Roman', Times, serif;color: #056f8f;font-size: 25px;" class="nav-link active" data-toggle="tab" href="#home">Register Using Excel</a></li>
    <li class="nav-item"><a style="font-family: 'Times New Roman', Times, serif;color: #056f8f;font-size: 25px;" class="nav-link" data-toggle="tab" href="#menu1">Register Using Form</a></li>
  </ul>
<div class="tab-content">  

<div class="container" id="home" class="tab-pane fade in active show">  
 
<input #myInput type="file" (change)="onFileChange($event)" (change)="setShowTrue($event.target.value)" multiple="false" accept=".xlsx, .xls, .csv" style="margin-top: 50px;" />
<button  (click)="reset()">X</button>

<div class="container" *ngIf="show">
<table style="margin-top: 50px;" class="table table-bordered highlight">
  <thead>
    <tr>
      <th>FirstName</th>
      <th>MiddleName</th>
      <th>LastName</th> 
      <th>Gender</th>
      <th>Email</th>
      <th>Mobile</th>
      <th>University</th>
      <th>Compass</th>
      <th>educationField</th>
      <th>professionalTitle</th> 
      <th>role</th>
      <th>study</th>
      <th>department</th>
      <th>WorkExperience</th>
      <th>Certificate</th>
      <th>researchArea</th>
      <th>futureResearchInterest</th>
      <th>NumberOfPublications</th>
      <th>homeBase</th>
      
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of data; let id = index"  >
      <td><span (keyup)="changeValue(id, 'firstName', $event)" (blur)="updateList(id, 'firstName', $event)" contenteditable="true" >{{data.firstName}}</span></td>
      <td><span (keyup)="changeValue(id, 'middleName', $event)" (blur)="updateList(id, 'middleName', $event)" contenteditable="true">{{data.middleName}}</span></td>
      <td><span (keyup)="changeValue(id, 'lastName', $event)" (blur)="updateList(id, 'lastName', $event)" contenteditable="true">{{data.lastName}}</span></td>
      <td><span (keyup)="changeValue(id, 'gender', $event)" (blur)="updateList(id, 'gender', $event)" contenteditable="true">{{data.gender}}</span></td>
      <td><span (keyup)="changeValue(id, 'email', $event)" (blur)="updateList(id, 'email', $event)" contenteditable="true"  ng-pattern="emailRegex">{{data.email}}</span></td>
      <td><span (keyup)="changeValue(id, 'mobile', $event)" (blur)="updateList(id, 'mobile', $event)" contenteditable="true">{{data.mobile}}</span></td>
      <td><span (keyup)="changeValue(id, 'university', $event)" (blur)="updateList(id, 'university', $event)" contenteditable="true">{{data.university}}</span></td>
      <td><span (keyup)="changeValue(id, 'compass', $event)" (blur)="updateList(id, 'compass', $event)" contenteditable="true">{{data.compass}}</span></td>
      <td><span (keyup)="changeValue(id, 'educationField', $event)" (blur)="updateList(id, 'educationField', $event)" contenteditable="true">{{data.educationField}}</span></td>
      <td><span (keyup)="changeValue(id, 'educationStatus', $event)" (blur)="updateList(id, 'educationStatus', $event)" contenteditable="true">{{data.professionalTitle}}</span></td>
      <td><span (keyup)="changeValue(id, 'role', $event)" (blur)="updateList(id, 'role', $event)" contenteditable="true">{{data.role}}</span></td>
      <td><span (keyup)="changeValue(id, 'study', $event)" (blur)="updateList(id, 'study', $event)" contenteditable="true">{{data.study}}</span></td>
      <td><span (keyup)="changeValue(id, 'department', $event)" (blur)="updateList(id, 'department', $event)" contenteditable="true">{{data.department}}</span></td>
      <td><span (keyup)="changeValue(id, 'workExperience', $event)" (blur)="updateList(id, 'workExperience', $event)" contenteditable="true">{{data.workExperience}}</span></td>
      <td><span (keyup)="changeValue(id, 'certificate', $event)" (blur)="updateList(id, 'certificate', $event)" contenteditable="true">{{data.certificate}}</span></td>
      <td><span (keyup)="changeValue(id, 'researchArea', $event)" (blur)="updateList(id, 'researchArea', $event)" contenteditable="true">{{data.researchArea}}</span></td>
      <td><span (keyup)="changeValue(id, 'futureResearchInterest', $event)" (blur)="updateList(id, 'futureResearchInterest', $event)" contenteditable="true">{{data.futureResearchInterest}}</span></td>
      <td><span (keyup)="changeValue(id, 'numberOfPublications', $event)" (blur)="updateList(id, 'numberOfPublications', $event)" contenteditable="true">{{data.numberOfPublications}}</span></td>
      <td><span (keyup)="changeValue(id, 'homeBase', $event)" (blur)="updateList(id, 'homeBase', $event)" contenteditable="true">{{data.homeBase}}</span></td>
      </tr>
     </tbody>
</table> 
</div>
<div class="col-sm-6 text-center" style="margin-top: 50px;margin-left: -20px;" *ngIf="show">
  <button style="background-color: #056f8f" type="submit"  (click)="registerFromExcelData(data)">Register</button>
</div>
<div class="success" *ngIf="showSucessMessage">
  <h1 style="color: green; font-family: 'Times New Roman', Times, serif;">Register Successfully</h1>

</div>
<div class="alert" *ngIf="serverErrorMessage">
  <h1 style="color: red;"> {{serverErrorMessage}} </h1>

 </div>
</div>


<div  class="container" id="menu1"  class="tab-pane fade">
  <div class="cards py-5">
  <div class="col-md-12">
   
    <div class="card" style="height: 400px;">
      <div class="card-body">
        <div class="card-title col-md-5" >
          <h3>
          why join LecturersFollower?
          </h3>

        </div>
        <div class="card-text px-5 col-md-4 col-sm-8">
          to track down who is working
          in more than one campus.
          <br>
          to know that we need you to fill
          this info.
          <br/>
          because it helps us to track down them.
          <br/>
          and it would be meaning less with out your help.



        </div>



      </div>



    </div>
    
    </div>
    <div class="col-md-6 offset-md-5">
      <div class="card " id="cardtwo">
        <div class="card-body">

          <div class="title">
            <h5 class="card-title  text-center" >
              Register University Staff </h5>
              
            </div>
          
              <p class="card-text text-center">one of the ultimate track down
                ever in the history of Ethiopian Education.
              </p>

              <form #signUpForm="ngForm"  (ngSubmit) = "signUpForm.valid && onSubmit(signUpForm)">
                <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="subsubAdminService.selectedStaff._id">
                <div class="form-group">
                  <label for="exampleInputEmail1">First name:</label>
                  <input   class="form-control" type="text" #firstname="ngModel" [(ngModel)]="subsubAdminService.selectedStaff.firstName" name="firstName"  placeholder="Enter firstname" required
                  [ngClass]="{'invalid-textbox' : signUpForm.submitted && !firstname.valid}">
                  
                </div>
                <div *ngIf="signUpForm.submitted && !firstname.valid">
                  <label style="color: red;" class="validation-message">this field is required </label>

                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Middle name:</label>
                  <input  class="form-control" type="text" #middlename="ngModel" [(ngModel)]="subsubAdminService.selectedStaff.middleName" name="middleName"  placeholder="Enter middlename" required
                  [ngClass]="{'invalid-textbox' : signUpForm.submitted && !middlename.valid}">
                  </div>
                  <div *ngIf="signUpForm.submitted && !middlename.valid">
                    <label style="color: red;" class="validation-message">this field is required </label>
  
                  </div>

                  <div class="form-group">
                    <label   for="exampleInputPassword1">Last name:</label>
                    <input class="form-control" type="text" #lastname="ngModel" [(ngModel)]="subsubAdminService.selectedStaff.lastName" name="lastName"  placeholder="Enter lastname" required
                    [ngClass]="{'invalid-textbox' : signUpForm.submitted && !lastname.valid}">
                    </div>
                    <div *ngIf="signUpForm.submitted && !lastname.valid">
                      <label style="color: red;" class="validation-message">this field is required </label>
    
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Gender:</label>
                      <input  class="form-control" type="text" #gender="ngModel" [(ngModel)]="subsubAdminService.selectedStaff.gender" name="gender"  placeholder="Enter gender" required
                      [ngClass]="{'invalid-textbox' : signUpForm.submitted && !gender.valid}">
                      </div>
                      <div *ngIf="signUpForm.submitted && !gender.valid">
                        <label style="color: red;" class="validation-message">this field is required </label>
      
                      </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Email:</label>
                  <input   class="form-control" type="email" #email="ngModel" [(ngModel)]="subsubAdminService.selectedStaff.email" name="email"  placeholder="Enter email" required
                  [pattern]="emailRegex" [ngClass]="{'invalid-textbox' : signUpForm.submitted && !email.valid}" >
                </div>
                <div *ngIf="signUpForm.submitted && email.errors">
                  <label *ngIf="email.errors.required"style="color: red;" class="validation-message">this field is required </label>
                  <label *ngIf="email.errors.pattern"style="color: red;" class="validation-message">invalid email </label>

                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">mobile:</label>
                  <input  class="form-control" type="text" #mobile="ngModel" [(ngModel)]="subsubAdminService.selectedStaff.mobile" name="mobile"  placeholder="Enter mobile number" required
                  [ngClass]="{'invalid-textbox' : signUpForm.submitted && !mobile.valid}">
                </div>
                <div *ngIf="signUpForm.submitted && !mobile.valid">
                  <label style="color: red;" class="validation-message">this field is required </label>

                </div>
                <div class="form-group">
                  
                  <input type="hidden"  class="form-control"    [(ngModel)]="universty" name="university"  placeholder="Enter universtiy" 
                  >
                 
                 
                </div>
                <div class="form-group" >
                
                 
                  <input type="hidden"  class="form-control"   [(ngModel)]="compass" name="compass"  placeholder="Enter universtiy" 
                  >
                  </div>
                 
                  <div class="form-group">
                    <label   for="exampleInputPassword1">Role:</label>
                    <input class="form-control" type="text" #role="ngModel" [(ngModel)]="subsubAdminService.selectedStaff.role" name="role"  placeholder="Enter Role" required
                    [ngClass]="{'invalid-textbox' : signUpForm.submitted && !role.valid}">
                    </div>
                    <div *ngIf="signUpForm.submitted && !role.valid">
                      <label style="color: red;" class="validation-message">this field is required </label>
    
                    </div>
                
               
                  <div class="form-group">
                      <label   for="exampleInputPassword1">professionalTitle:</label>
                      <input class="form-control" type="text" #professionalTitle="ngModel" [(ngModel)]="subsubAdminService.selectedStaff.professionalTitle" name="professionalTitle"  placeholder="Enter educationStatus" required
                      [ngClass]="{'invalid-textbox' : signUpForm.submitted && !professionalTitle.valid}">
                      </div>
                      <div *ngIf="signUpForm.submitted && !professionalTitle.valid">
                        <label style="color: red;" class="validation-message">this field is required </label>
      
                </div>
                <div class="form-group">
                  <label   for="exampleInputPassword1">Study:</label>
                  <input class="form-control" type="text" #study="ngModel" [(ngModel)]="subsubAdminService.selectedStaff.study" name="study"  placeholder="Enter study" required
                  [ngClass]="{'invalid-textbox' : signUpForm.submitted && !study.valid}">
                  </div>
                  <div *ngIf="signUpForm.submitted && !study.valid">
                    <label style="color: red;" class="validation-message">this field is required </label>
  
                  </div>
                
                  <div class="form-group">
                    <label for="exampleInputPassword1">educationField:</label>
                    <input  class="form-control" type="text" #educationField="ngModel" [(ngModel)]="subsubAdminService.selectedStaff.educationField" name="educationField"  placeholder="Enter educationField" required
                    [ngClass]="{'invalid-textbox' : signUpForm.submitted && !educationField.valid}">
                  </div>
                  <div *ngIf="signUpForm.submitted && !educationField.valid">
                    <label style="color: red;" class="validation-message">this field is required </label>
      
                  </div>
                  <div class="form-group">
                    <label   for="exampleInputPassword1">Department:</label>
                    <input class="form-control" type="text" #department="ngModel" [(ngModel)]="subsubAdminService.selectedStaff.department" name="department"  placeholder="Enter Department" required
                    [ngClass]="{'invalid-textbox' : signUpForm.submitted && !department.valid}">
                    </div>
                    <div *ngIf="signUpForm.submitted && !department.valid">
                      <label style="color: red;" class="validation-message">this field is required </label>
    
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">WorkExperience:</label>
                  <input  class="form-control" type="number" #workExperience="ngModel" [(ngModel)]="subsubAdminService.selectedStaff.workExperience" name="workExperience"  placeholder="Enter workExperience" required
                  [ngClass]="{'invalid-textbox' : signUpForm.submitted && !workExperience.valid}">
                </div>
                  <div *ngIf="signUpForm.submitted && !workExperience.valid">
                    <label style="color: red;" class="validation-message">this field is required </label>
  
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Certificate:</label>
                    <input  class="form-control" type="text" #certificate="ngModel" [(ngModel)]="subsubAdminService.selectedStaff.certificate" name="certificate"  placeholder="Enter certificate"
                    [ngClass]="{'invalid-textbox' : signUpForm.submitted && !workExperience.valid}">
                  </div> 
                  <div class="form-group">
                    <label for="exampleInputPassword1">ResearchArea:</label>
                    <input  class="form-control" type="text" #researchArea="ngModel" [(ngModel)]="subsubAdminService.selectedStaff.researchArea" name="researchArea"  placeholder="Enter researchArea" 
                    [ngClass]="{'invalid-textbox' : signUpForm.submitted && !researchArea.valid}">
                  </div> 
                  <div class="form-group">
                    <label for="exampleInputPassword1">futureResearchInterest:</label>
                    <input  class="form-control" type="text" #futureResearchInterest="ngModel" [(ngModel)]="subsubAdminService.selectedStaff.futureResearchInterest" name="futureResearchInterest"  placeholder="Enter futureResearchInterest"
                    [ngClass]="{'invalid-textbox' : signUpForm.submitted && !futureResearchInterest.valid}">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">NumberOfPublications:</label>
                    <input  class="form-control" type="text" #numberOfPublications="ngModel" [(ngModel)]="subsubAdminService.selectedStaff.numberOfPublications" name="numberOfPublications"  placeholder="Enter numberOfPublications" 
                    [ngClass]="{'invalid-textbox' : signUpForm.submitted && !numberOfPublications.valid}">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">HomeBase:</label>
                    <input  class="form-control" type="text" #homeBase="ngModel" [(ngModel)]="subsubAdminService.selectedStaff.homeBase" name="homeBase"  placeholder="Enter homeBase"
                    [ngClass]="{'invalid-textbox' : signUpForm.submitted && !homeBase.valid}">
                  </div>
                  

              <!-- <button type="button" class="btn  text-center btn-sm px-5">submit</button>--> 
              <input style="background-color: #056f8f" type="submit" value="Register">
              </form>
              <div class="success" *ngIf="showSucessMessage">
                <h1 style="color: green; font-family: 'Times New Roman', Times, serif;">saved successfully</h1>

              </div>

              <div class="alert" *ngIf="serverErrorMessage">
               <h1 style="color: red;"> {{serverErrorMessage}} </h1>

              </div>


       </div>






        </div>
      </div>



  </div>

</div>
</div>
</div>



<script>  
  // Material Select Initialization
$(document).ready(function() {
$('.mdb-select').materialSelect();
$('.select-wrapper.md-form.md-outline input.select-dropdown').bind('focus blur', function () {
$(this).closest('.select-outline').find('label').toggleClass('active');
$(this).closest('.select-outline').find('.caret').toggleClass('active');
});
});
  </script>