
<h1>ministry of education</h1>

<div class="container py-5">
<div class="row">
    
    <div class="col-md-6 form-comment px-5">
        <h3>Get in Touch</h3>
    <form class="form-horizontal">
        <div class="form-group">
          <label class="control-label  col-md-6" for="email">name:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="email" placeholder="Enter name">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-6" for="pwd">email:</label>
          <div class="col-sm-10">
            <input type="email" class="form-control" id="pwd" placeholder="Entr email">
          </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-6">Comment</label>
            <div class="col-sm-10">
            <textarea class="form-control rounded-0" placeholder="leave us a comment"></textarea>
            </div>
          </div>
        
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Submit</button>
          </div>
        </div>
       
      </form>
      </div>

      <div class="col-md-6 form-contact px-5">
          <h3>connect with us</h3>
          <br>

          <div>
              <p>for support and any quasions:<br>email us with mekdi@gmail.com</p>
          </div>

          <div>
            <p>pxa:<br>4 killo , Addis Abeba , Ethiopia</p>
        </div>
        <div>
            <p>pxa:<br>4 killo , Addis Abeba , Ethiopia</p>
        </div>

        <div>
            <p>pxa:<br>4 killo , Addis Abeba , Ethiopia</p>
        </div>


      </div>





</div> 
</div>
