
<app-headerchecker></app-headerchecker>


<div class="container">
    
    <div class="search-container">
        <form action="#">
          <input type="text" placeholder="Enter a name.." name="search" [(ngModel)]="searchedKeyword">
          <button type="submit" (click)="Search()">search</button>
        </form>
      </div>

</div>

<!--this code is for -->
  <div class="container table-responsive py-3" >
               
    <table  class="table table-bordered highlight">
      <thead> 
        <tr>
            <th>First Name</th>
            <th>Middle Name</th>
            <th>Last Name</th> 
            <th>Email</th>
            <th>Mobile</th>
            <th>University</th>
            <th>educationStatus</th>
            <th>role</th>
            <th>study</th>
            <th>compass</th>
            <th>educationField</th>
            <th>Department</th>
           </tr>
      </thead>
      <tbody >
        <tr *ngFor="let lec of  searchUser">
            <td>{{lec.firstName}}</td>
            <td>{{lec.middleName}}</td>
            <td>{{lec.lastName}}</td>
            <td>{{lec.email}}</td>
            <td>{{lec.mobile}}</td>
            <td>{{lec.university.name}}</td>
            <td>{{lec.educationStatus}}</td>
            <td>{{lec.role}}</td>
            <td>{{lec.study}}</td>
            <td>{{lec.compass}}</td>
            <td>{{lec.educationField}}</td>
            <td>{{lec.department}}</td>
            <td> <a class="action-btn" ><i class="fas {{ lec.isViewed ? 'fa-eye' : 'fa-eye-slash' }}"
              mwlConfirmationPopover
              [popoverTitle]="popoverTitle"
              [popoverMessage]="popoverMessage"
              [confirmText]="confirmText"
              [cancelText]="cancelText"
             
              (confirm)="ViewedOrtNotViewed(lec._id,lec)"
              (cancel)="cancelClicked = true"
              confirmButtonType="danger"
              cancelButtonType="outline-secondary"
              
              [appendToBody]="true"
              ></i></a></td>
        </tr>
    
      </tbody>
    </table>
  </div>


 

  <script>
    function openForm() {
      document.getElementById("myForm").style.display = "block";
    }
    
    function closeForm() {
      document.getElementById("myForm").style.display = "none";
    }
    </script>
  
