
<!DOCTYPE html>
<html lang="en">
<head>
 
</head>
<body>

<nav class="navbar   fixed-top navbar-expand-md bg-dark navbar-dark">
  <img src="assets/logonew.png" style="width: 60px; height: 60px;"/>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link " href="#" routerLink= "/homechecker">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink = "/showchecker" href="#">Show Me</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink = "/updateProfileChecker" href="#">Update Profile</a>
      </li>
      <li class="nav-item" (click)="onLogout()" value="logout">
        <a class="nav-link">logout</a>
      </li>    
    </ul>
  </div>  
</nav>

<div class="container">
    
    <div class="search-container">
        <form action="#">
          <input type="text" placeholder="Enter a name.." name="search" [(ngModel)]="searchedKeyword">
          <button type="submit" (click)="Search()">search</button>
        </form>
      </div>

</div>

<!--this code is for -->
  <div class="container table-responsive py-3" >
               
    <table  class="table table-bordered">
      <thead>
        <tr>
            <th>First Name</th>
            <th>Middle Name</th>
            <th>Last Name</th> 
            <th>Email</th>
            <th>Mobile</th>
            <th>University</th>
            <th>educationStatus</th>
            <th>role</th>
            <th>study</th>
           </tr>
      </thead>
      <tbody>
        <tr *ngFor="let lec of  searchUser">
            <td>{{lec.firstName}}</td>
            <td>{{lec.middleName}}</td>
            <td>{{lec.lastName}}</td>
            <td>{{lec.email}}</td>
            <td>{{lec.mobile}}</td>
            <td>{{lec.university}}</td>
            <td>{{lec.educationStatus}}</td>
            <td>{{lec.role}}</td>
            <td>{{lec.study}}</td>
            <td> <a class="action-btn"  (click)="ViewedOrtNotViewed(lec._id,lec)" ><i class="fas {{ lec.isViewed ? 'fa-eye' : 'fa-eye-slash' }}"></i></a></td>
        </tr>
    
      </tbody>
    </table>
  </div>


  





  
 
  
 
  
 
  
 
  

<footer class="site-footer">
  <h4 class="text-center" style="font-family: 'Times New Roman', Times, serif;color: white;">2020 © Ministry of Science and Higher Education - All rights reserved.</h4>
 
 
</footer>
  <script>
    function openForm() {
      document.getElementById("myForm").style.display = "block";
    }
    
    function closeForm() {
      document.getElementById("myForm").style.display = "none";
    }
    </script>
  
</body>
</html>