
<app-headersub></app-headersub>
<div class="container py-5">
<div class="container ">
    <div class="search-container py-5">
        <form action="#">
          <input type="text" placeholder="Enter a name.." name="search" [(ngModel)]="searchedKeyword">
          <button type="submit">search</button>
        </form>
      </div>
</div>



<div class="container">
               
    <table  class="table table-bordered table-hover">
      <thead class="thead-dark">
        <tr>
          <th>First Name</th>
          <th>Middle Name</th>
          <th>Last Name</th> 
          <th>Email</th>
          <th>Mobile</th>
          <th>University</th>
          <th>Role</th>
          <th>Compass</th>
          
        </tr>
      </thead> 
      <tbody>
        <tr  *ngFor="let user of UnivHrs| filter:searchedKeyword">
          <td>{{user.firstName}}</td>
          <td>{{user.middleName}}</td>
          <td>{{user.lastName}}</td>
          <td>{{user.email}}</td>
          <td>{{user.mobile}}</td>
          <td>{{user.university.name}}</td>
          <td>{{user.role}}</td>
          <td>{{user.compass}}</td> 
           
          
          <td><a class="action-btn"  (click)="open(content)" (click) = "onEdit(user)"><i class="fas fa-pen-alt"></i> </a></td>
        <!--  <td><a class="action-btn" (click)="onDelete(user._id)"><i class="fas fa-trash"></i></a></td> -->
        <td> <a class="action-btn"><i class="fa {{ user.isActive ? 'fa-unlock' : 'fa-lock' }}"

          mwlConfirmationPopover
          [popoverTitle]="popoverTitle"
          [popoverMessage]="popoverMessage"
          [confirmText]="confirmText"
          [cancelText]="cancelText"
         
          (confirm)="activateDeactivateSubsub(user._id,user)"
          (cancel)="cancelClicked = true"
          confirmButtonType="danger"
          cancelButtonType="outline-secondary"
          [appendToBody]="true">
         </i></a></td>
        
        </tr>
    
      </tbody>
    </table>
    <ul class="pagination justify-content-center">
      <li class="page-item"><a (click)="previousClick()" class="page-link">Previous</a></li>
      <li *ngFor='let index of pageIndexes' class="page-item" [ngClass]="active(index)">
            <a (click)="getPaginationWithIndex(index)" class="page-link">
              {{index + 1}}
            </a>
      </li>
      <li class="page-item"><a (click)="nextClick()" class="page-link">Next</a></li>
      </ul>
  </div> 



  
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title" style="font-family: 'Times New Roman', Times, serif;">Update</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form  #signUpForm="ngForm"  (ngSubmit) = "signUpForm.valid && onSubmit(signUpForm)">
        <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="subAdminService.selectedUnivHr._id">
        <div class="form-group">
          <label for="exampleInputEmail1">First Name:</label>
          <input   class="form-control" type="text" #firstname="ngModel" [(ngModel)]="subAdminService.selectedUnivHr.firstName" name="firstName"  placeholder="Enter firstname" required
          [ngClass]="{'invalid-textbox' : signUpForm.submitted && !firstname.valid}">
          
        </div>
        <div *ngIf="signUpForm.submitted && !firstname.valid">
          <label style="color: red;" class="validation-message">this field is required </label>

        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Middle Name:</label>
          <input  class="form-control" type="text" #middlename="ngModel" [(ngModel)]="subAdminService.selectedUnivHr.middleName" name="middleName"  placeholder="Enter middlename" required
          [ngClass]="{'invalid-textbox' : signUpForm.submitted && !middlename.valid}">
          </div>
          <div *ngIf="signUpForm.submitted && !middlename.valid">
            <label style="color: red;" class="validation-message">this field is required </label>

          </div>

          <div class="form-group">
            <label   for="exampleInputPassword1">Last Name:</label>
            <input class="form-control" type="text" #lastname="ngModel" [(ngModel)]="subAdminService.selectedUnivHr.lastName" name="lastName"  placeholder="Enter lastname" required
            [ngClass]="{'invalid-textbox' : signUpForm.submitted && !lastname.valid}">
            </div>
            <div *ngIf="signUpForm.submitted && !lastname.valid">
              <label style="color: red;" class="validation-message">this field is required </label>

            </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Email:</label>
          <input   class="form-control" type="text" #email="ngModel" [(ngModel)]="subAdminService.selectedUnivHr.email" name="email"  placeholder="Enter email" required
          [pattern]="emailRegex" [ngClass]="{'invalid-textbox' : signUpForm.submitted && !email.valid}" >
        </div>
        <div *ngIf="signUpForm.submitted && email.errors">
          <label *ngIf="email.errors.required"style="color: red;" class="validation-message">this field is required </label>
          <label *ngIf="email.errors.pattern"style="color: red;" class="validation-message">invalid email </label>

        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Mobile:</label>
          <input  class="form-control" type="text" #mobile="ngModel" [(ngModel)]="subAdminService.selectedUnivHr.mobile" name="mobile"  placeholder="Enter mobile number" required
          [ngClass]="{'invalid-textbox' : signUpForm.submitted && !mobile.valid}">
        </div>
        <div *ngIf="signUpForm.submitted && !mobile.valid">
          <label style="color: red;" class="validation-message">this field is required </label>

        </div>
      
     
        <div class="form-group">
          <label for="exampleInputPassword1">Compass:</label>
          <input   class="form-control" type="text" #compass="ngModel" [(ngModel)]="subAdminService.selectedUnivHr.compass" name="compass"  placeholder="Enter compass" required
          [ngClass]="{'invalid-textbox' : signUpForm.submitted && !compass.valid}">
        </div>
        <div *ngIf="signUpForm.submitted && !compass.valid">
          <label style="color: red;" class="validation-message">this field is required </label>

        </div>
        <div class="modal-footer">
          <!--<button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>--> 
             <input style="background-color:#056f8f ;" type="submit" value="Update">
           </div>
       
      </form>
      <div class="success" *ngIf="showSucessMessage">
        <h1 style="color: green; font-family: 'Times New Roman';" >updated successfully</h1>

      </div>
    </div>
   
  </ng-template>
</div>
<app-footer></app-footer>


  <!--this code is for showing full information for tables-->


  
  
  
  <script>
    function openForm() {
      document.getElementById("myForm").style.display = "block";
    }
    
    function closeForm() {
      document.getElementById("myForm").style.display = "none";
    }
    </script>
