.ministry{
    color: #056f8f;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    
}
.site-footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    
  }