<nav style="border-width: 2px;border-style: solid;border-color: #e0e0d1;" class="navbar   fixed-top navbar-expand-md  shadow-lg  mb-5 bg-light rounded">
    <img src="assets/logonew.png" style="width: 60px; height: 60px;"/>
    <span class="ministry">Ministry of Science and Higher Education</span>
    
    <button  class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span style="background-color: black;" class="navbar-toggler-icon"></span>
    </button>

    
    <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" href="#"  routerLink= "/homechecker" >Home</a>
        </li>
      
        <li class="nav-item">
          <a class="nav-link " href="#" routerLink = "/showchecker">Show Me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#" routerLink = "/showRepeatedStaff">Show Repeated Staff</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#" routerLink = "/updateProfileChecker">Update Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink= "/contactuschecker">Contact us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#" routerLink = "/aboutuschecker">About us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="onLogout()" value="logout">logout</a>
        </li>    
      </ul>
    </div>  
  </nav>