



<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap" rel="stylesheet">
 
 
</head>
<body>

<nav class="navbar   fixed-top navbar-expand-md bg-dark navbar-dark">
  <img src="assets/logonew.png" style="width: 60px; height: 60px;"/>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" href="#"  routerLink= "/homesub" >Home</a>
      </li>
      <li class="nav-item">
        <a   class="nav-link " href="#" routerLink= "/registorsub">Registor</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#" routerLink = "/showsub">Show Me</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="onLogout()" value="logout">logout</a>
      </li>    
    </ul>
  </div>  
</nav>


<div class="container-fluid">
    <div class="row">
        <div class="banner">
            <img src="assets/power.jpg"/>
       
  </div>




    </div>
    <div class = "write">
      <div>
        <h1 style="font-family: Bowlby One SC;" class="heading">WELCOME TO LECTURERS  <br>
              FOLLOW UP</h1>
              <hr>
              </div>
              
            <div class="col-md-6">
              <p style=" font-size: 20px;font-weight: bold;font-family: 'Times New Roman', Times, serif;">The main use of this system is finding out teachers who are found in more than one campus. information of teachers is provided to the system by provided sectors. so When the concerned sectors search for a name to check whether she or he work on more than one campus the system will immediately look for the information provided to the it and show them similarity in percent. </p>
   
  
            </div>
            <button style="width: 200px;" (click)="open(content)">Read More</button>
  
          
  
  
   
    </div>



</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <img src="assets/logonew.png" style="width: 60px; height: 60px;"/>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" style="font-family: 'Times New Roman', Times, serif;">
    <div>
     <h4> Ministry of Science and Higher Education</h4>
     <h3>Mission</h3>
     The Ministry of Science and Higher Education (MoSHE),established by proclamation number 1097/2018 in October 2018, is responsible to lead the development of science, higher education as well as the technical and vocational education and training (TVET) in Ethiopia.The Ministry of Science and Higher Education (MoSHE),established by proclamation number 1097/2018 in October 2018, is responsible to lead the development of science, higher education as well as the technical and vocational education and training (TVET) in Ethiopia.
     <h3>Vision</h3>
     The Ministry of Science and Higher Education (MoSHE),established by proclamation number 1097/2018 in October 2018, is responsible to lead the development of science, higher education as well as the technical and vocational education and training (TVET) in Ethiopia.The Ministry of Science and Higher Education (MoSHE),established by proclamation number 1097/2018 in October 2018, is responsible to lead the development of science, higher education as well as the technical and vocational education and training (TVET) in Ethiopia.
     <h3>Values</h3>
     The Ministry of Science and Higher Education (MoSHE),established by proclamation number 1097/2018 in October 2018, is responsible to lead the development of science, higher education as well as the technical and vocational education and training (TVET) in Ethiopia.The Ministry of Science and Higher Education (MoSHE),established by proclamation number 1097/2018 in October 2018, is responsible to lead the development of science, higher education as well as the technical and vocational education and training (TVET) in Ethiopia.
    </div>
   
    
  </div>
 
</ng-template>



<footer class="site-footer">
  <h4 class="text-center" style="font-family: 'Times New Roman', Times, serif;color: white;">2020 © Ministry of Science and Higher Education - All rights reserved.</h4>
 
 
</footer>

</body>
</html>