

<app-headersub></app-headersub>

<div class="container-fluid py-5">
    <div class="row">
        <div class="banner">
            <img src="assets/ministor.png"/>
           
  </div>




    </div >
 
   
</div>
<div class="container py-3 text-center higher">
  <h1 style="color: #056f8f;">Ministry of Science and Higher Education</h1>
  <p>The Ministry of Science and Higher Education (MoSHE),established by proclamation number 1097/2018 in October 2018, is responsible to check who is working in more than one Universtiy Ethiopia.</p>
  
</div>

<div  class="container py-3  text-center">
  <h1 style="color:#056f8f ;font-family: 'Times New Roman', Times, serif;" > Services</h1>
  <div class="row">

  <div class="card col-md-3" style="margin-left: 20px; margin-right: 20px;" >
    <div class="card-title">
      Registor All instructors

    </div>
    <div class="card-body">
      you can registor admins who can represent one universtiy and checkers who can check the registored instructors whether they are working on one universtiy or more.
      </div>
  </div>

  <div class="card col-md-3" style="margin-left: 40px; margin-right: 40px;" >
    <div class="card-title">
      Registor All instructors

    </div>
    <div class="card-body">
      you can registor admins who can represent one universtiy and checkers who can check the registored instructors whether they are working on one universtiy or more.
      </div>
  </div>

  <div class="card col-md-3" style="margin-left: 20px; margin-right: 20px;">
    <div class="card-title">
      Registor All instructors

    </div>
    <div class="card-body">
      you can registor admins who can represent one universtiy and checkers who can check the registored instructors whether they are working on one universtiy or more.
      </div>
  </div>
 </div>
</div>


<app-footer></app-footer>








