

<app-header></app-header>
<h1 style="color: white;">clicking on items to registor</h1>

<div class="container py-5" >
  <ul class="nav nav-tabs">
      <li class="nav-item"><a style="font-family: 'Times New Roman', Times, serif;color: #056f8f;font-size: 25px;" class="nav-link active" data-toggle="tab" href="#home">Admin</a></li>
      <li class="nav-item"><a style="font-family: 'Times New Roman', Times, serif;color: #056f8f;font-size: 25px;" class="nav-link" data-toggle="tab" href="#menu1">Checker</a></li>
      <li class="nav-item"><a style="font-family: 'Times New Roman', Times, serif;color: #056f8f;font-size: 25px;" class="nav-link" data-toggle="tab" href="#menu2">University</a></li>
    
    </ul>
  <div class="tab-content">
      
<div class="container" id="home" class="tab-pane fade in active show">
  <div class="cards py-5">
  <div class="col-md-12">
   
    <div class="card shadow-lg  rounded" style="height: 400px;">
      <div class="card-body">
        <div class="card-title col-md-5" >
          <h3>
          why join LecturersFollower?
          </h3>

        </div>
        <div class="card-text px-5 col-md-4 col-sm-8">
          to track down who is working
          in more than one campus.
          <br>
          to know that we need you to fill
          this info.
          <br/>
          because it helps us to track down them.
          <br/>
          and it would be meaning less with out your help.
        </div>
       </div>
       </div>
    
    </div>
  
    <div class="col-md-6 offset-md-5">
      <div class="card " id="cardtwo">
        <div class="card-body">

          <div class="title">
            <h5 class="card-title  text-center" >
              Register Admins </h5>
              
            </div>
          
              <p class="card-text text-center">one of the ultimate track down
                ever in the history of Ethiopian Education.
              </p>

              <form #signUpForm="ngForm"  (ngSubmit) = "signUpForm.valid && onSubmit(signUpForm)">
                <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="superuserservice.selectedUnivAdmin._id">
                <div class="form-group">
                  <label for="exampleInputEmail1">First name:</label>
                  <input   class="form-control" type="text" #firstname="ngModel" [(ngModel)]="superuserservice.selectedUnivAdmin.firstName" name="firstName"  placeholder="Enter firstname" required
                  [ngClass]="{'invalid-textbox' : signUpForm.submitted && !firstname.valid}">
                  
                </div>
                <div *ngIf="signUpForm.submitted && !firstname.valid">
                  <label style="color: red;" class="validation-message">this field is required </label>

                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Middle name:</label>
                  <input  class="form-control" type="text" #middlename="ngModel" [(ngModel)]="superuserservice.selectedUnivAdmin.middleName" name="middleName"  placeholder="Enter middlename" required
                  [ngClass]="{'invalid-textbox' : signUpForm.submitted && !middlename.valid}">
                  </div>
                  <div *ngIf="signUpForm.submitted && !middlename.valid">
                    <label style="color: red;" class="validation-message">this field is required </label>
  
                  </div>

                  <div class="form-group">
                    <label   for="exampleInputEmail1">Last name:</label>
                    <input class="form-control" type="text" #lastname="ngModel" [(ngModel)]="superuserservice.selectedUnivAdmin.lastName" name="lastName"  placeholder="Enter lastname" required
                    [ngClass]="{'invalid-textbox' : signUpForm.submitted && !lastname.valid}">
                    </div>
                    <div *ngIf="signUpForm.submitted && !lastname.valid">
                      <label style="color: red;" class="validation-message">this field is required </label>
    
                    </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Email:</label>
                  <input   class="form-control" type="text" #email="ngModel" [(ngModel)]="superuserservice.selectedUnivAdmin.email" name="email"  placeholder="Enter email" required
                  [pattern]="emailRegex" [ngClass]="{'invalid-textbox' : signUpForm.submitted && !email.valid}" >
                </div>
                <div *ngIf="signUpForm.submitted && email.errors">
                  <label *ngIf="email.errors.required"style="color: red;" class="validation-message">this field is required </label>
                  <label *ngIf="email.errors.pattern"style="color: red;" class="validation-message">invalid email </label>

                </div>
                <span class="input-placeholder">
                  <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input  class="form-control" type="password"  name="password" #password="ngModel" [(ngModel)]="superuserservice.selectedUnivAdmin.password" placeholder=" Enter Your Updated Password " 
                    required minlength="8" [type]="hide ? 'password' : 'text'"
                    [ngClass]="{'invalid-textbox' : signUpForm.submitted && !password.valid}">
                    <mat-icon class="placeholder" (click)="myFunction()">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
  
                  </div>
                  </span>
                <div *ngIf="signUpForm.submitted && password.errors?.minlength">
                  <label style="color: red;" class="validation-message">minimum 8 characters</label>

                </div>
                <div *ngIf="signUpForm.submitted && !password.valid">
                  <label style="color: red;" class="validation-message">this field is required </label>

                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">mobile:</label>
                  <input  class="form-control" type="text" #mobile="ngModel" [(ngModel)]="superuserservice.selectedUnivAdmin.mobile" name="mobile"  placeholder="Enter mobile number" required
                  [ngClass]="{'invalid-textbox' : signUpForm.submitted && !mobile.valid}">
                </div>
                <div *ngIf="signUpForm.submitted && !mobile.valid">
                  <label style="color: red;" class="validation-message">this field is required </label>

                </div>
              

                <div class="form-group">
                  <label for="exampleInputEmail1">university:</label>
                  <br>
                  <select  class="browser-default custom-select" #universtiy="ngModel" [(ngModel)]="superuserservice.selectedUnivAdmin.university" name="university"  (change)="onSelect($event.target.value)" >
                 
                   <option *ngFor="let unv of superuserservice.universitys" [value]="unv._id">
                     {{unv.name}}
                   </option>
                   
                 </select>
                 
                </div>
                <div *ngIf="signUpForm.submitted && !universtiy.valid">
                  <label style="color: red;" class="validation-message">this field is required </label>

                </div>
                
                <!-- <button type="button" class="btn  text-center btn-sm px-5">submit</button>--> 
              <input style="background-color: #056f8f" type="submit" value="Register">
              </form>
              <div class="success" *ngIf="showSucessMessage">
                <h1 style="color: green; font-family: 'Times New Roman', Times, serif;">saved successfully</h1>

              </div>

              <div class="alert" *ngIf="serverErrorMessage">
               <h1 style="color: red;"> {{serverErrorMessage}} </h1>

              </div>
          </div>
          </div>
      </div>



  </div>

</div>


<!--registration page for checker-->
<div  class="container" id="menu1"  class="tab-pane fade">
  <div class="cards py-5 ">
  <div class="col-md-12">
   
    <div class="card shadow-lg  rounded" style="height: 400px;">
      <div class="card-body">
        <div class="card-title col-md-5" >
          <h3>
          why join LecturersFollower?
          </h3>

        </div>
        <div class="card-text px-5 col-md-4 col-sm-8">
          to track down who is working
          in more than one campus.
          <br>
          to know that we need you to fill
          this info.
          <br/>
          because it helps us to track down them.
          <br/>
          and it would be meaning less with out your help.
         </div>
        </div>
       </div>
   </div>
  
    <div class="col-md-6 offset-md-5">
      <div class="card " id="cardtwo">
        <div class="card-body">

          <div class="title">
            <h5 class="card-title  text-center" >
              Register Checkers </h5>
              
            </div>
          
              <p class="card-text text-center">one of the ultimate track down
                ever in the history of Ethiopian Education.
              </p>

              <form #signUpFormm="ngForm"  (ngSubmit) = "signUpFormm.valid && onSubmitt(signUpFormm)">
                <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="superuserservice.selectedChecker._id">
                <div class="form-group">
                  <label for="exampleInputPassword1">First name:</label>
                  <input   class="form-control" type="text" #fname="ngModel" [(ngModel)]="superuserservice.selectedChecker.firstName" name="firstName"  placeholder="Enter firstname" required
                  [ngClass]="{'invalid-textbox' : signUpFormm.submitted && !fname.valid}">
                  
                </div>
                <div *ngIf="signUpFormm.submitted && !fname.valid">
                  <label style="color: red;" class="validation-message">this field is required </label>

                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Middle name:</label>
                  <input   class="form-control" type="text" #mname="ngModel" [(ngModel)]="superuserservice.selectedChecker.middleName" name="middleName"  placeholder="Enter middlename" required
                  [ngClass]="{'invalid-textbox' : signUpFormm.submitted && !mname.valid}">
                  
                </div>
                <div *ngIf="signUpFormm.submitted && !mname.valid">
                  <label style="color: red;" class="validation-message">this field is required </label>

                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Last name:</label>
                  <input   class="form-control" type="text" #lname="ngModel" [(ngModel)]="superuserservice.selectedChecker.lastName" name="lastName"  placeholder="Enter lastname" required
                  [ngClass]="{'invalid-textbox' : signUpFormm.submitted && !lname.valid}">
                  
                </div>
                <div *ngIf="signUpFormm.submitted && !lname.valid">
                  <label style="color: red;" class="validation-message">this field is required </label>

                </div>
                
                <div class="form-group">
                  <label for="exampleInputPassword1">Email:</label>
                  <input   class="form-control" type="text" #email="ngModel" [(ngModel)]="superuserservice.selectedChecker.email" name="email"  placeholder="Enter email" required
                  [pattern]="emailRegex" [ngClass]="{'invalid-textbox' : signUpFormm.submitted && !email.valid}" >
                </div>
                <div *ngIf="signUpFormm.submitted && email.errors">
                  <label *ngIf="email.errors.required"style="color: red;" class="validation-message">this field is required </label>
                  <label *ngIf="email.errors.pattern"style="color: red;" class="validation-message">invalid email </label>

                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">mobile:</label>
                  <input   class="form-control" type="text" #cmobile="ngModel" [(ngModel)]="superuserservice.selectedChecker.mobile" name="mobile"  placeholder="Enter mobile" required
                  [ngClass]="{'invalid-textbox' : signUpFormm.submitted && !cmobile.valid}">
                  
                </div>
                <div *ngIf="signUpFormm.submitted && !cmobile.valid">
                  <label style="color: red;" class="validation-message">this field is required </label>

                </div>
                <span class="input-placeholder">
                  <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input  class="form-control" type="password"  name="password" #password="ngModel" [(ngModel)]="superuserservice.selectedChecker.password" placeholder=" Enter Your Updated Password " 
                    required minlength="8" [type]="hide ? 'password' : 'text'"
                    [ngClass]="{'invalid-textbox' : signUpFormm.submitted && !password.valid}">
                    <mat-icon class="placeholder" (click)="myFunction()">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
  
                  </div>
                  </span>
                <div *ngIf="signUpFormm.submitted && password.errors?.minlength">
                  <label style="color: red;" class="validation-message">minimum 8 characters</label>

                </div>
                <div *ngIf="signUpForm.submitted && !password.valid">
                  <label style="color: red;" class="validation-message">this field is required </label>

                </div>
               
              <!-- <button type="button" class="btn  text-center btn-sm px-5">submit</button>--> 
              <input style="background-color: #056f8f" type="submit" value="Register">
              </form>
              <div class="success" *ngIf="showSucessMessage">
                <h1 style="color: green; font-family: 'Times New Roman', Times, serif;">saved successfully</h1>

              </div>

              <div class="alert" *ngIf="serverErrorMessage">
               <h1 style="color: red;"> {{serverErrorMessage}} </h1>

              </div>
             </div>
              </div>
           </div>
          </div>
          </div>



          <!--register university-->
  <div  class="container" id="menu2"  class="tab-pane fade">
    <div class="cards py-5 ">
    <div class="col-md-12">
     
      <div class="card shadow-lg  rounded" style="height: 400px;">
        <div class="card-body">
          <div class="card-title col-md-5" >
            <h3>
            why join LecturersFollower?
            </h3>
  
          </div>
          <div class="card-text px-5 col-md-4 col-sm-8">
            to track down who is working
            in more than one campus.
            <br>
            to know that we need you to fill
            this info.
            <br/>
            because it helps us to track down them.
            <br/>
            and it would be meaning less with out your help.
           </div>
          </div>
         </div>
     </div>
    
      <div class="col-md-6 offset-md-5">
        <div class="card " id="cardtwo">
          <div class="card-body">
  
            <div class="title">
              <h5 class="card-title  text-center" >
                Register University </h5>
                
              </div>
            
                <p class="card-text text-center">one of the ultimate track down
                  ever in the history of Ethiopian Education.
                </p>
  
                <form #signUpForm1="ngForm"  (ngSubmit) = "signUpForm1.valid && onSubmitForm(signUpForm1)">
                  <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="superuserservice.selectedUniversity._id">
                  <div class="form-group">
                    <label for="exampleInput">University Name:</label>
                    <input   class="form-control" type="text" #Uname="ngModel" [(ngModel)]="superuserservice.selectedUniversity.name" name="name"  placeholder="Enter University name" required
                    [ngClass]="{'invalid-textbox' : signUpForm1.submitted && !Uname.valid}">
                    
                  </div>
                  <div *ngIf="signUpForm1.submitted && !Uname.valid">
                    <label style="color: red;" class="validation-message">this field is required </label>
  
                  </div>
                  <div class="form-group">
                    <label for="exampleInput">Email:</label>
                    <input   class="form-control" type="text" #email="ngModel" [(ngModel)]="superuserservice.selectedUniversity.email" name="email"  placeholder="Enter University Email" required
                    [pattern]="emailRegex" [ngClass]="{'invalid-textbox' : signUpForm1.submitted && !email.valid}" >
                  </div>
                  <div *ngIf="signUpForm1.submitted && email.errors">
                    <label *ngIf="email.errors.required"style="color: red;" class="validation-message">this field is required </label>
                    <label *ngIf="email.errors.pattern"style="color: red;" class="validation-message">invalid email </label>
  
                  </div>
                  <div class="form-group">
                    <label for="exampleInput">Location:</label>
                    <input   class="form-control" type="text" #location="ngModel" [(ngModel)]="superuserservice.selectedUniversity.location" name="location"  placeholder="Where the University Located" required
                    [ngClass]="{'invalid-textbox' : signUpForm1.submitted && !location.valid}">
                    
                  </div>
                  <div *ngIf="signUpForm1.submitted && !location.valid">
                    <label style="color: red;" class="validation-message">this field is required </label>
  
                  </div> 
                  <div class="form-group">
                    <label for="exampleInput">P.O.Box:</label>
                    <input   class="form-control" type="number" #poBox="ngModel" [(ngModel)]="superuserservice.selectedUniversity.poBox" name="poBox"  placeholder="Where the University P.O.Box" required
                    [ngClass]="{'invalid-textbox' : signUpForm1.submitted && !poBox.valid}">
                    
                  </div>
                  <div *ngIf="signUpForm1.submitted && !poBox.valid">
                    <label style="color: red;" class="validation-message">this field is required </label>
  
                  </div> 
                  <div class="form-group">
                    <label for="exampleInput">Fax:</label>
                    <input   class="form-control" type="text" #fax="ngModel" [(ngModel)]="superuserservice.selectedUniversity.fax" name="fax"  placeholder="Where the University Fax" required
                    [ngClass]="{'invalid-textbox' : signUpForm1.submitted && !fax.valid}">
                    
                  </div>
                  <div *ngIf="signUpForm1.submitted && !fax.valid">
                    <label style="color: red;" class="validation-message">this field is required </label>
  
                  </div> 
                 
                <!-- <button type="button" class="btn  text-center btn-sm px-5">submit</button>--> 
                <input style="background-color: #056f8f" type="submit" value="Register">
                </form>
                <div class="success" *ngIf="showSucessMessage">
                  <h1 style="color: green; font-family: 'Times New Roman', Times, serif;">saved successfully</h1>
  
                </div>
  
                <div class="alert" *ngIf="serverErrorMessage">
                 <h1 style="color: red;"> {{serverErrorMessage}} </h1>
  
                </div>
               </div>
                </div>
             </div>
            </div>
            </div>
      
    </div>
    </div>

  
      
<app-footer></app-footer>



<script>
  // Material Select Initialization
$(document).ready(function() {
$('.mdb-select').materialSelect();
$('.select-wrapper.md-form.md-outline input.select-dropdown').bind('focus blur', function () {
$(this).closest('.select-outline').find('label').toggleClass('active');
$(this).closest('.select-outline').find('.caret').toggleClass('active');
});
});
  </script>