
.card{
    background-color:white ;
    border-color:#056f8f;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    
}
input[type="radio"]{
    margin: 0 20px 0 20px;
    color: black;
}
input{
    color: black;
}
.rad{
    font-size: 30px;
    color:black;
    font-family: 'Times New Roman', Times, serif;
}

#cardtwo{
    
    margin-top: -430px;
}
.btn{
    width: 200px;
    height: 40px;
    margin-left: 100px;
    font-family: 'Times New Roman', Times, serif;
    background-color:  #056f8f;
    font-size: large;
}
.form-control{
    background-color: white !important;
    border-color: #7a7575;
    color: black;
    
    


}

.ministry{
    color: #056f8f;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    
}
select{
    background-color: #f2f2f2 !important;
    border-color: #544E4E;
    color: black;
    

}


.form-control:focus {
    border-color: #056f8f;

   
  }
