.body{
    position: relative;
    min-height: 100vh;
}
.banner{
    position: relative;
    
    margin: 0 auto;
}
.banner img{
   
    width: 100%;
}
.card-title{
    background-color: #056f8f;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
.card-body{
    font-family: 'Times New Roman', Times, serif;
}
.ministry{
    color: #056f8f;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    
}


.higher{
    font-family: 'Times New Roman', Times, serif;
}

.heading{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    
    font-size: 60px;
    font-weight: bold;
}
