

<app-header></app-header>

<div class="container">

<div class="container">
    
    <div class="search-container">
        <form action="#">
          <input type="text" placeholder="Enter a name.." name="search" [(ngModel)]="searchedKeyword">
          <button type="submit">search</button>
        </form>
      </div>

</div>



<div class="container py-5" >
  <ul class="nav nav-tabs">
      <li class="nav-item"><a style="font-family: 'Times New Roman', Times, serif;color: #056f8f;font-size: 25px;" class="nav-link active" data-toggle="tab" href="#home">Admin</a></li>
      <li class="nav-item"><a style="font-family: 'Times New Roman', Times, serif;color: #056f8f;font-size: 25px;" class="nav-link" data-toggle="tab" href="#menu1">Checker</a></li>
      <li class="nav-item"><a style="font-family: 'Times New Roman', Times, serif;color: #056f8f;font-size: 25px;" class="nav-link" data-toggle="tab" href="#menu2">University</a></li>
  </ul>
<div class="tab-content">
    
<div class="container table-responsive py-3" id="home" class="tab-pane fade in active show" >
               
  <table  class="table table-bordered">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Middle Name</th>
        <th>Last Name</th> 
        <th>Email</th>
        <th>Mobile</th>
        <th>University</th>
        <th>Role</th>
        
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of  superuserservice.UnivAdmins | filter:searchedKeyword" >
        <td>{{user.firstName}}</td>
        <td>{{user.middleName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.email}}</td>
        <td>{{user.mobile}}</td>
        <td>{{user.university.name}}</td>
        <td>{{user.role}}</td>
        
        <td><a class="action-btn"  (click)="open(content)" (click) = "onEdit(user)"><i class="fas fa-pen-alt"></i> </a></td>
       <!-- <td><a class="action-btn" (click)="onDelete(user._id)"><i class="fas fa-trash"></i></a></td> -->
         <td><a class="action-btn"  ><i class="fa {{ user.isActive ? 'fa-unlock' : 'fa-lock' }}"

          
          mwlConfirmationPopover
          [popoverTitle]="popoverTitle"
          [popoverMessage]="popoverMessage"
          [confirmText]="confirmText"
          [cancelText]="cancelText"
         
          (confirm)="activateDeactivateUnivAdmin(user._id,user)"
          (cancel)="cancelClicked = true"
          confirmButtonType="danger"
          cancelButtonType="outline-secondary"
          
          [appendToBody]="true">
       
        
         </i></a>

         
        
        </td>
      </tr>
  
    </tbody>
  </table>
  </div>



  <!--this code is for -->
  <div class="container table-responsive py-3" id="menu1"  class="tab-pane fade">
               
    <table  class="table table-bordered">
      <thead>
        <tr>
        <th>First Name</th>
        <th>Middle Name</th>
        <th>Last Name</th> 
        <th>Email</th>
        <th>Mobile</th>
        <th>Role</th>
         

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of  superuserservice.checkers | filter:searchedKeyword">
          <td>{{user.firstName}}</td>
          <td>{{user.middleName}}</td>
          <td>{{user.lastName}}</td>
          <td>{{user.email}}</td>
          <td>{{user.mobile}}</td>
          <td>{{user.role}}</td>
         <td><a class="action-btn"  (click)="open(contentt)" (click) = "onEdit(user)"><i class="fas fa-pen-alt"></i> </a></td>
        <td><a class="action-btn"><i class="fas fa-trash"
        
          mwlConfirmationPopover
          [popoverTitle]="popoverTitle"
          [popoverMessage]="popoverMessage"
          [confirmText]="confirmText"
          [cancelText]="cancelText"
         
          (confirm)="onDeletechecker(user._id)"
          (cancel)="cancelClicked = true"
          confirmButtonType="danger"
          cancelButtonType="outline-secondary"
       
          [appendToBody]="true">
        </i></a></td> 
         <td> <a class="action-btn"><i class="fa {{ user.isActive ? 'fa-unlock' : 'fa-lock' }}"

          mwlConfirmationPopover
          [popoverTitle]="popoverTitle"
          [popoverMessage]="popoverMessage"
          [confirmText]="confirmText"
          [cancelText]="cancelText"
         
          (confirm)="activateDeactivate(user._id,user)"
          (cancel)="cancelClicked = true"
          confirmButtonType="danger"
          cancelButtonType="outline-secondary"
          [appendToBody]="true">
         </i></a></td>
        </tr>
    
      </tbody>
    </table>
  </div>

  <!--this for university-->
  <div class="container table-responsive py-3" id="menu2" class="tab-pane fade" >
               
    <table  class="table table-bordered">
      <thead>
        <tr>
          <th>University Name</th>
          <th>Location</th> 
          <th>Email</th> 
          <th>P.O.Box</th>
          <th>Fax</th>   
          
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let univ of  superuserservice.universitys | filter:searchedKeyword" >
          <td>{{univ.name}}</td>
          <td>{{univ.location}}</td>
          <td>{{univ.email}}</td>
          <td>{{univ.poBox}}</td>
          <td>{{univ.fax}}</td>
          <td><a class="action-btn"  (click)="open(contentUniv)" (click) = "onEditU(univ)"><i class="fas fa-pen-alt"></i> </a></td>
        </tr>
    
      </tbody>
    </table>
    </div>
  
  

</div>
</div>

  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title" style="font-family: 'Times New Roman', Times, serif;">Update</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form  #signUpForm="ngForm"  (ngSubmit) = "signUpForm.valid && onSubmit(signUpForm)">
        <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="superuserservice.selectedUnivAdmin._id">
     
        <div class="form-group">
          <label for="exampleInputEmail1">First name:</label>
          <input   class="form-control" type="text" #firstname="ngModel" [(ngModel)]="superuserservice.selectedUnivAdmin.firstName" name="firstName"  placeholder="Enter firstname" required
          [ngClass]="{'invalid-textbox' : signUpForm.submitted && !firstname.valid}">
          
        </div>
        <div *ngIf="signUpForm.submitted && !firstname.valid">
          <label style="color: red;" class="validation-message">this field is required </label>

        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Middle name:</label>
          <input  class="form-control" type="text" #middlename="ngModel" [(ngModel)]="superuserservice.selectedUnivAdmin.middleName" name="middleName"  placeholder="Enter middlename" required
          [ngClass]="{'invalid-textbox' : signUpForm.submitted && !middlename.valid}">
          </div>
          <div *ngIf="signUpForm.submitted && !middlename.valid">
            <label style="color: red;" class="validation-message">this field is required </label>

          </div>

          <div class="form-group">
            <label   for="exampleInputPassword1">Last name:</label>
            <input class="form-control" type="text" #lastname="ngModel" [(ngModel)]="superuserservice.selectedUnivAdmin.lastName" name="lastName"  placeholder="Enter lastname" required
            [ngClass]="{'invalid-textbox' : signUpForm.submitted && !lastname.valid}">
            </div>
            <div *ngIf="signUpForm.submitted && !lastname.valid">
              <label style="color: red;" class="validation-message">this field is required </label>

            </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Email:</label>
          <input   class="form-control" type="text" #email="ngModel" [(ngModel)]="superuserservice.selectedUnivAdmin.email" name="email"  placeholder="Enter email" required
          [pattern]="emailRegex" [ngClass]="{'invalid-textbox' : signUpForm.submitted && !email.valid}" >
        </div>
        <div *ngIf="signUpForm.submitted && email.errors">
          <label *ngIf="email.errors.required"style="color: red;" class="validation-message">this field is required </label>
          <label *ngIf="email.errors.pattern"style="color: red;" class="validation-message">invalid email </label>

        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">mobile:</label>
          <input  class="form-control" type="text" #mobile="ngModel" [(ngModel)]="superuserservice.selectedUnivAdmin.mobile" name="mobile"  placeholder="Enter mobile number" required
          [ngClass]="{'invalid-textbox' : signUpForm.submitted && !mobile.valid}">
        </div>
        <div *ngIf="signUpForm.submitted && !mobile.valid">
          <label style="color: red;" class="validation-message">this field is required </label>

        </div>
        <div class="modal-footer">
          <!--<button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>--> 
             <input  style="background-color: #056f8f;" type="submit" value="update">
           </div>
       
      </form>
      <div class="success" *ngIf="showSucessMessage">
        <h1 style="color: green; font-family: 'Times New Roman';" >updated successfully</h1>

      </div>
    </div>
   
  </ng-template>

  <!--edit for checkers-->
  <ng-template #contentt let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title" style="font-family: 'Times New Roman', Times, serif;">Update</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form  #signUpFormm="ngForm"  (ngSubmit) = "signUpFormm.valid && onSubmitchecker(signUpFormm)">
        <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="superuserservice.selectedUnivAdmin._id">
     
        <div class="form-group">
          <label for="exampleInputEmail1">First name:</label>
          <input   class="form-control" type="text" #firstname="ngModel" [(ngModel)]="superuserservice.selectedUnivAdmin.firstName" name="firstName"  placeholder="Enter firstname" required
          [ngClass]="{'invalid-textbox' : signUpFormm.submitted && !firstname.valid}">
          
        </div>
        <div *ngIf="signUpFormm.submitted && !firstname.valid">
          <label style="color: red;" class="validation-message">this field is required </label>

        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Middle name:</label>
          <input  class="form-control" type="text" #middlename="ngModel" [(ngModel)]="superuserservice.selectedUnivAdmin.middleName" name="middleName"  placeholder="Enter middlename" required
          [ngClass]="{'invalid-textbox' : signUpFormm.submitted && !middlename.valid}">
          </div>
          <div *ngIf="signUpFormm.submitted && !middlename.valid">
            <label style="color: red;" class="validation-message">this field is required </label>

          </div>

          <div class="form-group">
            <label   for="exampleInputPassword1">Last name:</label>
            <input class="form-control" type="text" #lastname="ngModel" [(ngModel)]="superuserservice.selectedUnivAdmin.lastName" name="lastName"  placeholder="Enter lastname" required
            [ngClass]="{'invalid-textbox' : signUpFormm.submitted && !lastname.valid}">
            </div>
            <div *ngIf="signUpFormm.submitted && !lastname.valid">
              <label style="color: red;" class="validation-message">this field is required </label>

            </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Email:</label>
          <input   class="form-control" type="text" #email="ngModel" [(ngModel)]="superuserservice.selectedUnivAdmin.email" name="email"  placeholder="Enter email" required
          [pattern]="emailRegex" [ngClass]="{'invalid-textbox' : signUpFormm.submitted && !email.valid}" >
        </div>
        <div *ngIf="signUpFormm.submitted && email.errors">
          <label *ngIf="email.errors.required"style="color: red;" class="validation-message">this field is required </label>
          <label *ngIf="email.errors.pattern"style="color: red;" class="validation-message">invalid email </label>

        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">mobile:</label>
          <input  class="form-control" type="text" #mobile="ngModel" [(ngModel)]="superuserservice.selectedUnivAdmin.mobile" name="mobile"  placeholder="Enter mobile number" required
          [ngClass]="{'invalid-textbox' : signUpFormm.submitted && !mobile.valid}">
        </div>
        <div *ngIf="signUpFormm.submitted && !mobile.valid">
          <label style="color: red;" class="validation-message">this field is required </label>

        </div>
        <div class="modal-footer">
          <!--<button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>--> 
             <input  style="background-color: #056f8f;" type="submit" value="update">
           </div>
       
      </form>
      <div class="success" *ngIf="showSucessMessage">
        <h1 style="color: green; font-family: 'Times New Roman';" >updated successfully</h1>

      </div>
    </div>
   
  </ng-template>

  <!--edit for university-->

  <ng-template #contentUniv let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title" style="font-family: 'Times New Roman', Times, serif;">Update</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form  #signUpForm1="ngForm"  (ngSubmit) = "signUpForm1.valid && onSubmitUnivForm(signUpForm1)">
        <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="superuserservice.selectedUniversity._id">
     
        <div class="form-group">
          <label for="exampleInputPassword1">University Name:</label>
          <input   class="form-control" type="text" #name="ngModel" [(ngModel)]="superuserservice.selectedUniversity.name" name="name"  placeholder="Enter university name" required
          [ngClass]="{'invalid-textbox' : signUpForm1.submitted && !name.valid}">
          
        </div>
        <div *ngIf="signUpForm1.submitted && !name.valid">
          <label style="color: red;" class="validation-message">this field is required </label>

        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Location:</label>
          <input  class="form-control" type="text" #location="ngModel" [(ngModel)]="superuserservice.selectedUniversity.location" name="location"  placeholder="Enter Location" required
          [ngClass]="{'invalid-textbox' : signUpForm1.submitted && !location.valid}">
          </div>
          <div *ngIf="signUpForm1.submitted && !location.valid">
            <label style="color: red;" class="validation-message">this field is required </label>

          </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Email:</label>
          <input   class="form-control" type="text" #email="ngModel" [(ngModel)]="superuserservice.selectedUniversity.email" name="email"  placeholder="Enter email" required
          [pattern]="emailRegex" [ngClass]="{'invalid-textbox' : signUpForm1.submitted && !email.valid}" >
        </div>
        <div *ngIf="signUpForm1.submitted && email.errors">
          <label *ngIf="email.errors.required"style="color: red;" class="validation-message">this field is required </label>
          <label *ngIf="email.errors.pattern"style="color: red;" class="validation-message">invalid email </label>

        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">P.O.Box:</label>
          <input   class="form-control" type="number" #poBox="ngModel" [(ngModel)]="superuserservice.selectedUniversity.poBox" name="poBox"  placeholder="Where the University P.O.Box" required
          [ngClass]="{'invalid-textbox' : signUpForm1.submitted && !poBox.valid}">
          
        </div>
        <div *ngIf="signUpForm1.submitted && !poBox.valid">
          <label style="color: red;" class="validation-message">this field is required </label>

        </div> 
        <div class="form-group">
          <label for="exampleInputPassword1">Fax:</label>
          <input   class="form-control" type="text" #fax="ngModel" [(ngModel)]="superuserservice.selectedUniversity.fax" name="fax"  placeholder="Where the University Fax" required
          [ngClass]="{'invalid-textbox' : signUpForm1.submitted && !fax.valid}">
          
        </div>
        <div *ngIf="signUpForm1.submitted && !fax.valid">
          <label style="color: red;" class="validation-message">this field is required </label>

        </div> 
        <div class="modal-footer">
          <!--<button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>--> 
             <input  style="background-color: #056f8f;" type="submit" value="update">
           </div>
       
      </form>
      <div class="success" *ngIf="showSucessMessage">
        <h1 style="color: green; font-family: 'Times New Roman';" >updated successfully</h1>

      </div>
    </div>
   
  </ng-template>

  </div>
  
 
  
 
  <script>
    function openForm() {
      document.getElementById("myForm").style.display = "block";
    }
    
    function closeForm() {
      document.getElementById("myForm").style.display = "none";
    }
    </script>
  

 
  


